.name-title{
    color:darkblue;
    font-size: 130%;
    font-weight: 800;
}
.email-title{
    color:blue;
    font-size: 100%;
    font-weight: 800;
}
.seemore{
    font-weight: 700;
    color: rgb(92, 89, 89);
}